<h2>Make Types</h2>
<div class="container">
    <table class="table table-sortable">
     <thead>
        <th class="small" scope="col">title</th>
        <th class="small" scope="col">actions</th>
     </thead>
     <tbody>
        <% @types.each do |t| %>
        <tr class="item" <%= "data-model_name= #{t.class.name.underscore} data-update_url=#{type_sort_path(t)}"  %>>
            <td><%= t.title %></td>
            <td>
             <%= link_to '',edit_type_path(t.id),class:'glyphicon glyphicon-pencil' %>    
             <%= link_to '',
                        type_path(t),
                        method: :delete,
                        class:'glyphicon glyphicon-trash',
                        data:{confirm:'Sure?'} %>
            </td>
        </tr>
        <% end %>
        </table>
        <%= form_for :type,url:types_path do |f| %>
        <table class="table">
        <tr>
            <td><%=f.text_field :title,placeholder:'enter type title'%></td>
            <td><%=f.submit "Add New Type",class:"btn btn-sm btn-success btn-lg btn-block"%></td>
        </tr>
        </table>
        <% end %>
     </tbody>
    </table>
</div>
