<tr>
<td><small><%= "#{receipt.p_date} "%></small></td>
<td><small><%= "#{receipt.payment} "%></small></td>
<td><small><%= "#{receipt.type.title} "%></small></td>
<td><small><%= "#{receipt.memo} "%></small></td>
<td>
<%= link_to '',edit_receipt_path(receipt),class:'glyphicon glyphicon-pencil' %>    
<%= link_to '',
            receipt_path(receipt),
            method: :delete,
            class:'glyphicon glyphicon-trash',
            data:{confirm:'削除してもよろしいですか?'} %>    
</td>
</tr>