<tr>
<td><%= "#{receipt.p_date} "%></td>
<td><%= "#{receipt.payment} "%></td>
<td><%= "#{receipt.type.title} "%></td>
<td><%= "#{receipt.memo} "%></td>
<td>
<%= link_to 'edit',edit_receipt_path(receipt),class:'command' %>    
<%= link_to 'delete',
            receipt_path(receipt),
            method: :delete,
            class:'command',
            data:{confirm:'Sure?'} %>    
</td>
</tr>