<h2>Add New Receipt</h2>
<%= form_for :receipt,url:receipts_path do |f|%>
 <div class="receipt-form">
    <%=f.number_field :payment,placeholder:'enter payment'%>

    <%=f.text_field :p_date,class:'date-picker',placeholder:'enter paid_at'%>

    <%=f.text_field :memo,placeholder:'enter memo'%>
    <div class="row" style="margin-bottom:10px;">
     <% @types.each do |r|%>
        <div class="col-xs-6 col-md-4">
         <%= f.radio_button :type_id,r.id ,{id:r.id} %>
         <label for=<%= "#{r.id}" %> class="btn btn-success" style="width:100%;margin-bottom:5px;">
            <div style="font-size:20px;"><%="#{r.title}" %></div>
            <div>
               <%="今月：#{@amounts.where(type_id:r.id).sum(:payment)}" %>
               <%="先月：#{@prevamount.where(type_id:r.id).sum(:payment)}" %>
            </div>
         </label>
        </div>
     <% end %>
    </div>
    <%=f.submit "入力",class:"btn btn-success btn-lg btn-block",style:"font-size:4vw;width:100%;margin-bottom:10px"%>
 </div>
<% end %>

<% provide(:title,"new")%>
<table class="table">
 <thead>
  <th scope="col">日付</th>
  <th scope="col">金額</th>
  <th scope="col">明細</th>
  <th scope="col">メモ</th>
  <th scope="col">編集</th>
 </thead>
  <%= render @receipts %>
</table>