<h2>Add New Receipt</h2>

<%= form_for :receipt,url:receipts_path do |f|%>
<p>
    <%=f.number_field :payment,placeholder:'enter payment'%>
</p>
<p>
    <%=f.text_field :p_date,class:'date-picker',placeholder:'enter paid_at'%>
</p>

<p>
    <%=f.text_area :memo,placeholder:'enter memo'%>
</p>
<p>
    <% @types.each do |r|%>
        <label><%= f.radio_button :type_id,r.id %><%="#{r.title} #{@amounts.where(type_id:r.id).sum(:payment)} #{@types.find(r.id).budget}"%></label>
    <% end %>

    <%#=f.collection_radio_buttons(:type_id,Type.all,:id,:title) do |b|%>
    <%#= b.label {b.radio_button+"#{b.text}  #{@amounts.where(type_id:b.value).sum(:payment)} #{@types.find(b.value).budget}"} %><%#うまい手はないか%><br>
    <%# end %>
</p>
<p>
    <%=f.submit%>
</p>

<% end %>

<%= render 'index' %>
