<h2>Add New Receipt</h2>
<div class="container"  style="padding-bottom:164px;">
<%= form_for :receipt,url:receipts_path do |f|%>
  <div class="row">
   <div class="col-md-12">  
    <%=f.number_field :payment,placeholder:'金額'%>
    <%=f.text_field :p_date, value:@today, class:'date-picker', placeholder:'日付'%>
    <%=f.text_field :memo,placeholder:'メモ'%>
   </div>
   <% @types.each do |r|%>
   <div class="col-xs-7 col-md-3">
    <%= f.radio_button :type_id,r.id ,{id:r.id} %>
          <label for=<%= "#{r.id}" %> class="btn btn-block btn-success" style="height:3em;padding-top:0.7em;">
           <small><%="#{r.title}" %></small>
          </label>
   </div>
   <div class="col-xs-5 col-md-3"  style="height:3em;">
        <div><%="¥ #{@amounts.where(type_id:r.id).sum(:payment).to_s(:delimited)}" %></div>
        <div class="small text-muted"><%="¥ #{@prevamount.where(type_id:r.id).sum(:payment).to_s(:delimited)}" %></div>
      </small>
   </div>
   <% end %>
  </div>
  <br>
 <table class="table table-hover table-responsive">
 <thead>
  <th class="small" scope="col">日付</th>
  <th class="small" scope="col">金額</th>
  <th class="small" scope="col">科目</th>
  <th class="small" scope="col">メモ</th>
  <th class="small" scope="col"></th>
 </thead>
 <tbody>
  <%= render @receipts %>
 </tbody>
 </table>
 <%= will_paginate %>

<footer class="navber navbar-fixed-bottom" style="background-color:white;padding:0 30px;">
 <div style="padding-top:8px;">
  <%=f.submit "入力",class:"btn btn-success btn-sm btn-block"%>
 </div>
 <div class="row text-center h4">
  <%= "￥ #{@amounts.sum(:payment).to_s(:delimited)}"%>
 </div>
 <div class="row text-center text-muted h6">
  <%= "先月　　￥ #{@prevamount.sum(:payment).to_s(:delimited)}"%>
 </div>
</footer>
<% end %>
</div>

<% provide(:title,"new")%>